@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.catBg{
  width: 200vmax;
  height: 200vmax;

  background-image: url("/src/assets/bg.jpg");
  background-repeat: repeat;

  animation: bg-circle 600s linear infinite;
  transform-origin: center;
}

.cat-pop {
  position: fixed;
  width: 200px;          
  transform: translate(-50%, -50%);
  animation: catFade 1s ease-out forwards;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@keyframes bg-circle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


@keyframes catFade {
  0%   { opacity: 0; transform: translate(-50%, -50%) scale(0.95); }
  10%  { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%, -50%) scale(0.98); }
}